body {
  margin: 0px auto;
  width: 800px;
  background-color: #D6D6D6;
  font-family: "Baskerville";
}
header {
  color: orange;
  font-family: Aclonica;
  font-size: 18px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 18px;
}
header:hover {
  color: #E50505
}
.myBox {
  display: block;
  width: 800px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 10px;
}
nav {
  background-color: black;
  color: white;
  float: left;
}
nav a:link {
  color: orange;
}
nav a:hover {
  font-style: italic;
}
nav a:visited {
  color: red;
}
#articles {
  margin-top: 10px;
}
#articleBox {
  background-color: white;
  text-align: center;
}
.articleTitle {
  font-size: 2em;
}
.articleAuthor {
  font-size: 1em;
}
.articleText {
  text-align: left;
}
.shadowedBox {
  -webkit-box-shadow: 10px 5px 5px #888888;
  -moz-box-shadow: 10px 5px 5px #888888;
  box-shadow: 10px 5px 5px #888888;
}
.insideBox {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#imgIronhackLogo {
  float: left;
  margin: 0px 16px 16px 0px;
}
@-moz-document url-prefix() {
  #imgMyPicture {
    display: inline;
  }
}
.tdCenter {
  text-align: center;
  margin: auto;
}
.tdRight {
  text-align: right;
}
article h2 {
  text-align: center;
}
footer {
  background-color: #4F4F4F;
  font-size: 0.75em;
  color: white;
  padding: 30px 10px;
  border-top: 5px solid white;
  font-style: italic;
  width: 100%;
}
#legal {
  background-color: black;
  color: orange;
}