.topBottom {
  height: 100px;
  width: 100%;
  text-align: center;
  margin: 0px auto;
}

article {
  font-family: sans-serif;
  background-color: rgb(220, 245, 240);
  font-size: 1.3em;
  margin: 0px auto;
  padding: 0px 16px;
  width: 1000px;
  height: 1000px;
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 3px;
}

.articlePart {
  width: 440px;
  height: 600px;
  margin: 30px 30px;
  display: block;
}

.articleBottom {
  clear: both;
  width: 940px;
  height: 300px;
  margin: 30px 30px;
  display: block;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

article i {
  font-size: 1.1em;
  font-weight: bold;
}

.articleTitle {
	font-family: "Linux Libertine",Georgia,Times,serif;
	font-style: italic;
}

.articleSubtitle {
	font-size: 0.5em;
}

.articleText {
	font-size: 0.75em;
}

.articleImage {
  padding: 16px 4px 4px 16px;
  margin: 0px 16px 16px 0px;
}
.shadowedBox {
  -webkit-box-shadow: 10px 5px 5px #888888;
  -moz-box-shadow: 10px 5px 5px #888888;
  box-shadow: 10px 5px 5px #888888;
}

.marginTopBlock {
  margin-top: 8px
}

.horList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

.legal {
  font-size: 0.85em;
}